*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:roo{
    --bg-color:#000000;
    --bird-color:#5cd9ff;
    --obstacle-color:#eee;
}
#game {
    background-color:#081c53;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}

#obstacle{
    width: 50px;
    height: 500px;
    background-color:#37e8f5;
position: absolute;
top: 0;
left: 100%;
animation: obstacle-anim 2s infinite linear;
z-index: 1;

}

#hole{
width: 50px;
height: 150px;
background-color:#081c53;
position: absolute;
top: 150PX;
left: 100%;
animation: obstacle-anim 2s infinite linear;
z-index: 2;
}

@keyframes obstacle-anim{
    0%{
        left: 100%;
    }
100%{
    left: -60px;
}
}

#bird{
    width: 20px;
    height: 20px;
    background-color:#5cd9ff ;
    position: absolute;
    top: 100px;
    border-radius: 50%;
    z-index: 3;
}


